:root {
  --color-0: #fcfaf9;
  --color-1: #66e2dc;
  --color-2: #fa7453;
  --color-3: #ffb964;
  --color-4: #191826;
}

.color-0 {
  color: var(--color-0);
}

.color-1 {
  color: var(--color-1);
}

.color-2 {
  color: var(--color-2);
}

.color-3 {
  color: var(--color-3);
}

.color-4 {
  color: var(--color-4);
}
