.font-s {
  font: 400 1rem/1.62 "IBM Plex Sans", sans-serif;
}

.font-m {
  font: 400 1.25rem/1.7 "IBM Plex Sans", sans-serif;
}

.font-l {
  font: 700 2.5rem/1.3 "IBM Plex Sans", sans-serif;
}

.font-xl {
  font: 700 5.5rem/1 "IBM Plex Sans", sans-serif;
  letter-spacing: -0.0625rem;
}
