.font-s {
  font: 400 1rem/1.62 "IBM Plex Sans", sans-serif;
}

.font-m {
  font: 400 1.25rem/1.7 "IBM Plex Sans", sans-serif;
}

.font-l {
  font: 700 2.5rem/1.3 "IBM Plex Sans", sans-serif;
}

.font-xl {
  font: 700 5.5rem/1 "IBM Plex Sans", sans-serif;
  letter-spacing: -0.0625rem;
}

@media (max-width: 800px) {
  .font-m {
    font-size: 1.125rem;
    line-height: 1.55;
  }

  .font-l {
    font-size: 2rem;
    line-height: 1.25;
  }

  .font-xl {
    font-size: 4rem;
    letter-spacing: -0.04544rem;
  }
}

@media (max-width: 400px) {
  .font-m {
    font-size: 1rem;
    line-height: 1.62;
  }

  .font-xl {
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: -0.02844rem;
  }
}
